<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    />
    <link rel="stylesheet" href="./main.css" />
  </head>
  <body>
    <header>Navbar</header>
    <main>
      <div class="side-bar">
        <div class="bfbar">

          <div class="bar">
            <i class="fa-solid fa-house"></i>
            <div class="inbar">Home</div>
          </div>
          <div class="bar">
            <i class="fa-solid fa-film"></i>
            <div class="inbar">Shorts</div>
          </div>
          <div class="bar" style="border-bottom: 1px solid silver;">
            <i class="fa-solid fa-download"></i>
            <div class="inbar">Subscriptions</div>
          </div>
          <div class="bar" style="padding: 28px 20px;">You &#62</div>
          <div class="bar">
            <i class="fa-solid fa-list"></i>
            <div class="inbar">Your Channel</div>
          </div>
          <div class="bar">
            <i class="fa-solid fa-clock-rotate-left"></i>
            <div class="inbar">History</div>
          </div>
          <div class="bar">
            <i class="fa-solid fa-notes-medical"></i>
            <div class="inbar">Your videos</div>
          </div>
          <div class="bar">
            <i class="fa-regular fa-clock"></i>
            <div class="inbar">Watch later</div>
          </div>
          <div class="bar">
            <i class="fa-regular fa-file-video"></i>
            <div class="inbar">Liked videos</div>
          </div>
        </div>
      </div>
      <div class="content">vdo clip</div>
    </main>
  </body>
</html>
